VITE_SUPABASE_URL=https://ltynbeuitomoedmimxyz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0eW5iZXVpdG9tb2VkbWlteHl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2NjE1ODgsImV4cCI6MjA5NTIzNzU4OH0.KeNBxETRcLtFhfG5re-cQEWX8-vbjGQDUIPrLQ2MmP8
